# Visual Studio 临时文件
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# 构建结果
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 生成的文件
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Visual Studio 缓存文件
# 如果你不想忽略这些文件，请注释掉相关行
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio 代码覆盖率结果
*.coverage
*.coveragexml

# NuGet 包
*.nupkg
# NuGet Symbol 包
*.snupkg
# 包文件夹
**/[Pp]ackages/*
# 除非你想要提交包引用
!**/[Pp]ackages/build/

# Windows 系统文件
Thumbs.db
ehthumbs.db
Desktop.ini 

.idea